@model IEnumerable<HealthCareChallenge.Models.Patient>
@{
    ViewData["Title"] = "Patient List";
}

<div class="container">
    <h1 class="display-4">Patient List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>
                        <a asp-controller="Patient" asp-action="Vitals" asp-route-id="@patient.Id" class="btn btn-primary">View Vitals</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>