@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We try our best to hide patient data. If you see some data you shouldn't, please close your eyes and don't tell anyone</p>

